body{
    background: rgb(80, 80, 80);
}
.container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
#formulario{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: #00000030;
    color: white;
}
#formulario p{
    text-align: center;
}
#logar{
    margin: 0 auto;
    padding: 10px;
    width: 100px;
    color: white;
    background: gray;
    border: none;
    border-radius: 10px;
}
#logar:hover{
    transition: 1s;
    background: black;
}
.input-style{
    padding: 10px;
    outline: none;
    background: gray;
    border: none;
    color: white;
    margin-bottom: 10px;
}